// Typography

body {
	font-family: 'Special Elite', cursive;
}

// Battle Title
.battle-title {
	font-size: 1.75rem;
	font-weight: 600;
}

// Details Headings
.details-title {
	font-size: 1.2rem;
	font-weight: 400;
}
