// Typography

body {
	font-family: 'Special Elite', cursive;
}

// Battle Title
.battle-title {
	font-size: 1.75rem;
	font-weight: 600;
}

// Details Headings
.details-title {
	font-size: 1.2rem;
	font-weight: 400;
	text-decoration: underline;
}

// Battle Values

.battle-value {
	font-style: italic;
}

.faction-casualties {
	font-style: italic;
}
