// Media Query Breakpoints

// Small Mobile Breakpoints
$smallMobile: 321px;

// Mobile Breakpoints
$mobileMin: 321px;
$mobileMax: 481px;

// Tablet Breakpoints
$tabletMin: 481px;
$tabletMax: 769px;

// Laptop Breakpoints
$laptopMin: 769px;
$laptopMax: 1025px;

// Desktop Breakpoints
$desktopMin: 1025px;
$desktopMax: 1201px;

// Wide Desktop Breakpoints
$wideDesktop: 1201px;
