// Media Queries

// Imports
@use '../abstracts/breakpoints' as mQ;

// Small Mobile (Less than 320px)

@media screen and (max-width: mQ.$smallMobile) {
	// Layout Styles
	body {
		flex-direction: column-reverse;
	}
	.battle-container {
		margin-top: 0;
	}
	.sidebar {
		height: 45vh;
		width: 100%;
	}
	.map {
		height: 55vh;
		width: 100%;
	}
	.battle {
		height: 45vh;
	}
	.locked {
		overflow-y: hidden;
	}
	// Font Styles
	.battle-title {
		font-size: 1.5rem;
	}
	.country-flag {
		height: 1.75rem;
		width: 2.75rem;
	}
}
// Mobile (320px - 480px)

@media screen and (min-width: mQ.$mobileMin) and (max-width: mQ.$mobileMax) {
	// Layout Styles
	body {
		flex-direction: column-reverse;
	}
	.battle-container {
		margin-top: 0;
	}
	.sidebar {
		height: 45vh;
		width: 100%;
	}
	.map {
		height: 55vh;
		width: 100%;
	}
	.battle {
		height: 45vh;
	}
	.locked {
		overflow-y: hidden;
	}

	// Font Styles
	.battle-title {
		font-size: 1.5rem;
	}
	.country-flag {
		height: 1.75rem;
		width: 2.75rem;
	}
	.details-title {
		font-size: 1.4rem;
	}
	.battle-date,
	.faction-casualties {
		font-size: 1.25rem;
	}
}

// Tablet (481px - 768px)

@media screen and (min-width: mQ.$tabletMin) and (max-width: mQ.$tabletMax) {
	// Layout Styles
	body {
		flex-direction: column-reverse;
	}
	.sidebar {
		height: 45vh;
		width: 100%;
	}
	.map {
		height: 55vh;
		width: 100%;
	}
	.battle {
		height: 45vh;
	}
	//  Font Styles
	.battle-title {
		font-size: 2rem;
	}
	.details-title {
		font-size: 1.4rem;
	}
	.battle-date,
	.faction-casualties {
		font-size: 1.25rem;
	}
}

// Laptop (769px - 1024px)

@media screen and (min-width: mQ.$laptopMin) and (max-width: mQ.$laptopMax) {
	// Layout Styles
	body {
		flex-direction: column-reverse;
	}
	.sidebar {
		height: 45vh;
		width: 100%;
	}
	.map {
		height: 55vh;
		width: 100%;
	}
	.battle {
		height: 35vh;
	}
	//  Font Styles
	.battle-title {
		font-size: 2rem;
	}
	.details-title {
		font-size: 1.4rem;
	}
	.battle-date,
	.faction-casualties {
		font-size: 1.25rem;
	}
}

// Desktop (1025px - 1200px)

@media screen and (min-width: mQ.$desktopMin) and (max-width: mQ.$desktopMax) {
	// Layout Styles
	body {
		flex-direction: row;
	}
	.sidebar {
		height: 100%;
		width: 45vw;
	}
	.map {
		height: 100%;
		width: 55vw;
	}
	.battle {
		height: 32vh;
	}
	// Font Styles
	.details-title {
		font-size: 1.3rem;
	}
	.battle-date,
	.faction-casualties {
		font-size: 1.2rem;
	}
}

// Wide Desktop (1201px +)

@media screen and (min-width: mQ.$wideDesktop) {
	// Layout Styles
	body {
		flex-direction: row;
	}
	.sidebar {
		height: 100%;
		width: 40vw;
	}

	.map {
		height: 100%;
		width: 60vw;
	}
	.battle {
		height: 32vh;
	}
	// Font Styles
	.battle-title {
		font-size: 2rem;
	}
	.details-title {
		font-size: 1.3rem;
	}
	.battle-date,
	.faction-casualties {
		font-size: 1.2rem;
	}
}
