@use '../abstracts/breakpoints' as mQ;

// desktop (1025px - 1200px)
@media screen and (min-width: mQ.$desktopMin) and (max-width: mQ.$desktopMax) {
	body {
		flex-direction: row;
	}
	.sidebar {
		height: 100%;
		width: 45vw;
	}
	.map {
		height: 100%;
		width: 55vw;
	}
	.battle {
		height: 40vh;
	}

	.details-title {
		font-size: 1.3rem;
	}
	.battle-date,
	.faction-casualties {
		font-size: 1.2rem;
	}
}

// desktop - width (1025px +) and height (More than 400px)

@media screen and (min-width: mQ.$laptopMax) and (max-height: 400px) {
	body {
		flex-direction: row;
	}
	.sidebar {
		height: 100%;
		width: 45vw;
	}
	.map {
		height: 100%;
		width: 55vw;
	}
	.battle {
		height: 75vh;
	}

	.battle-title {
		font-size: 2rem;
	}
	.details-title {
		font-size: 1.5rem;
	}
	.battle-date,
	.faction-casualties {
		font-size: 1.25rem;
	}
}

// desktop - width (1025px +) and height (More than 550px)

@media screen and (min-width: mQ.$laptopMax) and (max-height: 550px) {
	body {
		flex-direction: row;
	}
	.sidebar {
		height: 100%;
		width: 45vw;
	}
	.map {
		height: 100%;
		width: 55vw;
	}
	.battle {
		height: 75vh;
	}

	.battle-title {
		font-size: 2rem;
	}
	.details-title {
		font-size: 1.5rem;
	}
	.battle-date,
	.faction-casualties {
		font-size: 1.25rem;
	}
}

// desktop - width (1025px +) and height (More than 750px)

@media screen and (min-width: mQ.$laptopMax) and (max-height: 750px) {
	body {
		flex-direction: row;
	}
	.sidebar {
		height: 100%;
		width: 45vw;
	}
	.map {
		height: 100%;
		width: 55vw;
	}
	.battle {
		height: 50vh;
	}

	.battle-title {
		font-size: 2rem;
	}
	.details-title {
		font-size: 1.5rem;
	}
	.battle-date,
	.faction-casualties {
		font-size: 1.25rem;
	}
}

// wide desktop (1201px +)

@media screen and (min-width: mQ.$wideDesktop) {
	body {
		flex-direction: row;
	}
	.sidebar {
		height: 100%;
		width: 40vw;
	}

	.map {
		height: 100%;
		width: 60vw;
	}
	.battle {
		height: 32vh;
	}

	.battle-title {
		font-size: 2rem;
	}
	.details-title {
		font-size: 1.5rem;
	}
	.battle-date,
	.faction-casualties {
		font-size: 1.25rem;
	}
}

// desktop - width (1201px +) and height (Less than 550px)

@media screen and (min-width: mQ.$wideDesktop) and (max-height: 550px) {
	body {
		flex-direction: row;
	}
	.sidebar {
		height: 100%;
		width: 45vw;
	}
	.map {
		height: 100%;
		width: 55vw;
	}
	.battle {
		height: 75vh;
	}

	.battle-title {
		font-size: 2rem;
	}
	.details-title {
		font-size: 1.5rem;
	}
	.battle-date,
	.faction-casualties {
		font-size: 1.25rem;
	}
}

// wide desktop - width (1201px +) and height (Less than 875px)

@media screen and (min-width: mQ.$wideDesktop) and (max-height: 875px) {
	body {
		flex-direction: row;
	}
	.sidebar {
		height: 100%;
		width: 45vw;
	}
	.map {
		height: 100%;
		width: 55vw;
	}
	.battle {
		height: 55vh;
	}

	.battle-title {
		font-size: 2rem;
	}
	.details-title {
		font-size: 1.5rem;
	}
	.battle-date,
	.faction-casualties {
		font-size: 1.25rem;
	}
}
