// Battle Styles

.battle-container {
	margin-top: 2rem;

	color: ghostwhite;
}

.battle {
	width: 100%;
	height: 20vh;

	display: flex;
	flex-direction: column;

	cursor: pointer;

	background-color: #42484d;
	border-radius: 5px;
	border: 5px solid white;
}

.battle-image {
	height: 100%;
	width: 100%;

	background-image: url('../images/ww2.jpg');
}

.battle-title {
	font-size: 1.7rem;
	font-weight: 600;

	background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
}

.details-container {
	height: 100%;
	width: 100%;

	flex-direction: column;
	justify-content: space-evenly;

	background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
}

.details-container-hide {
	display: none;
}

.details-container-show {
	display: flex;
}

.battle-details {
	margin: 0.2rem;

	display: flex;
	flex-direction: column;

	border: 1px solid white;
}

.faction-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
