// Battle Styles

.battle-container {
	margin-top: 1rem;

	color: ghostwhite;
}

.battle {
	width: 100%;
	height: 18vh;

	margin-bottom: 1rem;

	display: flex;
	flex-direction: column;

	cursor: pointer;

	background-color: #42484d;
	border-radius: 5px;
}

.battle-image {
	height: 100%;
	width: 100%;
}

.battle-image-blur {
	filter: blur(3px);
}

.battle-title {
	font-size: 1.7rem;
	font-weight: 600;

	background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
}

.details-container {
	height: 100%;
	width: 100%;

	flex-direction: column;
	justify-content: space-evenly;

	background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%) no-repeat center;
	background-size: cover;

	display: none;
}

.details-container-show {
	display: flex;
}

.battle-details {
	margin: 0.2rem;

	display: flex;
	flex-direction: column;
}

.faction-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
