// Media Queries

// Imports
@use '../1-Abstracts/index' as mQ;

// Small Mobile

@media screen and (max-width: mQ.$smallMobile) {
	body {
		flex-direction: column-reverse;
	}
	.sidebar {
		height: 40vh;
		width: 100%;
	}

	.warMap {
		height: 60vh;
		width: 100%;
	}
}

// Mobile

@media screen and (min-width: mQ.$mobileMin) and (max-width: mQ.$mobileMax) {
	body {
		flex-direction: column-reverse;
	}
	.sidebar {
		height: 40vh;
		width: 100%;
	}

	.warMap {
		height: 60vh;
		width: 100%;
	}
}

// Tablet

@media screen and (min-width: mQ.$tabletMin) and (max-width: mQ.$tabletMax) {
	body {
		flex-direction: column-reverse;
	}
	.sidebar {
		height: 40vh;
		width: 100%;
	}

	.warMap {
		height: 60vh;
		width: 100%;
	}
}

// Laptop

@media screen and (min-width: mQ.$laptopMin) and (max-width: mQ.$laptopMax) {
	body {
		flex-direction: column-reverse;
	}
	.sidebar {
		height: 45vh;
		width: 100%;
	}

	.warMap {
		height: 55vh;
		width: 100%;
	}
}

// Desktop

@media screen and (min-width: mQ.$desktopMin) and (max-width: mQ.$desktopMax) {
	body {
		flex-direction: row;
	}
	.sidebar {
		height: 100%;
		width: 40vw;
	}

	.warMap {
		height: 100%;
		width: 60vw;
	}
}

// Wide Desktop

@media screen and (min-width: mQ.$wideDesktop) {
	body {
		flex-direction: row;
	}
	.sidebar {
		height: 100%;
		width: 35vw;
	}

	.warMap {
		height: 100%;
		width: 65vw;
	}
}
