// Sidebar Styles

.sidebar {
	width: 40vw;

	display: flex;
	flex-direction: column;

	text-align: center;

	overflow-y: scroll;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* Internet Explorer 10+ */
}

.sidebar::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}
